{% extends 'berrygames/berryplus/base.html.twig' %}

{% block page_title %}Create new game{% endblock %}

{% block content %}
    <div class="content">
        <div class="card card-primary">
            <div class="card-header">
            </div>
            <div class="card-body">
                {{ include('berrygames/berryplus/minecraft/games/games_form.html.twig', { button: 'Create new game'}) }}
            </div>
        </div>
    </div>
{% endblock %}