{% extends 'berrygames/berryplus/base.html.twig' %}

{% block page_title %}Create new news{% endblock %}

{% block content %}
    <div class="content">
        <div class="card card-primary">
            <div class="card-header">
            </div>
            <div class="card-body">
                {{ include('berrygames/berryplus/website/news/news_form.html.twig', { button: 'Create new news'}) }}
            </div>
        </div>
    </div>
{% endblock %}