<div class="row">
    <div class="col-md-12">
        <div class="section games">
            <div class="row">
                <div class="col-md-12">
                    <h2>Games</h2>
                </div>
                <div class="col-md-6">
                    <div class="game">
                        <img class="align-self-start mr-3 img-fluid"
                             src="https://i.goopics.net/ZKq1d.png" alt="BerryGames Bedwars">
                        <div class="game-body">
                            <h6>Bedwars</h6>
                            <p>90 players</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="game">
                        <img class="align-self-start mr-3 img-fluid"
                             src="//cdn.berrygames.net/img/icons/skywars.png" alt="BerryGames Skywars">
                        <div class="game-body">
                            <h6>Skywars</h6>
                            <p>178 players</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="game">
                        <img class="align-self-start mr-3 img-fluid"
                             src="https://i.goopics.net/vNOPg.png" alt="BerryGames Catfight">
                        <div class="game-body">
                            <h6>Catfight</h6>
                            <p>53 players</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="game">
                        <img class="align-self-start mr-3 img-fluid"
                             src="https://i.goopics.net/DQrWZ.png" alt="BerryGames Pvpwall">
                        <div class="game-body">
                            <h6>Pvpwall</h6>
                            <p>120 players</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="section discord">
            <div class="row">
                <div class="col-md-12">
                    <a href="//discord.berrygames.net">
                        <h2>Discord</h2>
                        <div id="discord-online"></div>
                    </a>
                </div>
                <div class="col-md-12">
                    <div class="wrap">
                        <div class="users--body users"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="section devblog">
            <div class="row">
                <div class="col-md-12">
                    <a href="#"><h2>Devblog</h2></a>
                </div>
                <a href="#">
                    <div class="col-md-12">
                        <div class="devblog-item">
                            <h6><i class="las la-code"></i> Skywars | Chests content</h6>
                            <div class="devblog-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit. Facere, quibusdam.
                            </div>
                            <div class="devblog-datetime">10/03/2020</div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col-md-12">
                        <div class="devblog-item">
                            <h6><i class="las la-code"></i> Bedwars | Spawn fix</h6>
                            <div class="devblog-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit. Facere, quibusdam.
                            </div>
                            <div class="devblog-datetime">10/03/2020</div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col-md-12">
                        <div class="devblog-item">
                            <h6><i class="las la-hammer"></i> Hub | Spawn reworked</h6>
                            <div class="devblog-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit. Facere, quibusdam.
                            </div>
                            <div class="devblog-datetime">10/03/2020</div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col-md-12">
                        <div class="devblog-item">
                            <h6><i class="las la-code"></i> CatFight | New kits</h6>
                            <div class="devblog-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit. Facere, quibusdam.
                            </div>
                            <div class="devblog-datetime">10/03/2020</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>