{% extends 'base.html.twig' %}

{% block title %}BerryGames • {{ status_code }}{% endblock %}

{% block stylesheets_fonts %}
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
    <style>
        .error {
            margin: 8rem 0;
            text-align: center;
            justify-content: center;
        }

        .error h1 {
            font-size: 10rem;
            font-weight: bold;
        }

        .button, a.button {
            display: inline-block;
            border: 1px solid transparent;
            -webkit-transition: background-color .2s ease;
            transition: background-color .2s ease;
            font-size: 14px;
            font-weight: 500;
            border-radius: 3px;
            padding-top: 0;
            padding-right: 10px;
            padding-bottom: 0;
            padding-left: 10px;
            text-align: center;
            outline: none;
            line-height: 32px;
            height: 32px;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-sizing: content-box;
            -webkit-appearance: none;
            text-transform: uppercase;
            will-change: box-shadow;
            transition: all .3s cubic-bezier(.25, .8, .25, 1);
            border: none;
            white-space: nowrap;
            color: #0db496;
            background: transparent;
            border-color: rgba(20, 20, 20, 0);
        }

        .button:hover, a.button:hover, .button:focus, a.button:focus {
            background: rgba(13, 180, 150, 0.1);
        }

        .button.button--primary, a.button.button--primary {
            color: #fff;
            background: #0db496;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
            border: none;
            border-color: #10dab6;
        }

        .button.button--primary:hover, a.button.button--primary:hover, .button.button--primary:focus, a.button.button--primary:focus {
            color: #fff;
            background: #03be9c;
            box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.14), 0 1px 18px 0px rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.2);
        }
    </style>
    <div class="content">
        <div class="container">
            <div class="error">
                <h1>{{ status_code }}</h1>
                <p>{{ status_text }}</p>

                <a href="javascript:history.back()" class="button button--primary">Previous page</a>
            </div>
        </div>
    </div>

{% endblock %}

